version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "ok-to-test"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      k8s-dependencies:
        patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"
      golang-x-deps:
        patterns:
          - "golang.org/x/*"
    labels:
      - "ok-to-test"
 
