name: verify
on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - '**'
  workflow_dispatch:
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: '~1.19'
      - name: Run the verify target
        run: |
          export GOPATH=$(go env GOPATH)
          make verify
